* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border;
    margin-top: 0;
   
}

html,
body,      
div{
    margin: 0;
    padding: 0;
    background: #dddddd;
    
    
}






.h1 {
    text-align: center;
    font-size: 30px;
}

.h1:after{
    content: "";
    display: table;
    clear: both;
}

.mainhdr{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    
    
}

#main {
    background: #dddddd;
    

}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
   
}

#primary {
    max-width: 650px;
    margin: 0 auto;
    
    
}


ul {                        /* stying the list*/
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}

ul li {        /* Style the list items */
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

ul li:nth-child(odd) {   /* Set all odd list items to a different color (zebra-stripes) */
    background: #f9f9f9;
}

ul li:hover {   /* Darker background-color on hover */
    
    background: #ddd;
}

ul li.checked {    /* When clicked on, add a background color*/
    background: #888;
    color: #fff;
    
}

ul li.checked:before {    /* Add a "checked" mark when clicked on */ 
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.close{      /* Style the close button */
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover{
    background-color: #f44336;
    color: #eee;

}

input{     /* styling the input */
    border: none;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

.addBtn {
    padding: 10px;
    width: 25%;
    background: #d1cfcf;
    color: rgb(68, 67, 67);
    float: left;
    text-align: center;
    font-size: 16px ;
    cursor: pointer;
    transition: 0.3s;


}

.addBtn:hover{
    background-color: #bbb;
}